:root {

  --color-primary: #09090B;
  --color-surface: #FFFFFF;
  --color-border: #E4E4E7;
  --color-text-muted: #71717A;
  --color-success: #10B981;

  --font-main: 'Inter', sans-serif;
  --font-data: 'JetBrains Mono', monospace;
}

body {
  margin: 0;
  background-color: var(--color-surface);
  color: var(--color-primary);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
}

input,
select,
button {
  font-family: var(--font-main);
  border: 1px solid var(--color-border);
  border-radius: 6px;
  outline: none;
}

input:focus,
select:focus {
  border-color: var(--color-primary);
}

.mono {
  font-family: var(--font-data);
}